{% extends 'base.html' %} {% block title %} New Article - Articles {% endblock title %} {% block breadcrumb %}
<li class="breadcrumb-item">
  <a href="{% url 'home' %}">Articles</a>
</li>
<li class="breadcrumb-item active">New Article</li>
{% endblock breadcrumb %} {% block content %}
<form method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label>Title</label>
    <input type="text" id="title" class="form-control border-secondary" />
  </div>
  <div class="form-group">
    <label>Content</label>
    <div id="summernote" class="border-secondary"></div>
  </div>

  <div class="form-group">
    <label>Tags</label>
    <input type="text" id="tags" class="form-control border-secondary" />
  </div>

  <button type="button" class="btn btn-dark" id="submit-new">
    Submit
  </button>
  <button type="button" class="btn btn-light btn-outline-dark" id="save-draft">
    Save as draft
  </button>

  <!-- Preview article -->

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-light btn-outline-dark" data-toggle="modal" data-target="#previewModal"
    id="preview-button">
    Preview
  </button>

  <!-- Modal -->
  <div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="ModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <div class="modal-tags"></div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Model end -->
  <!-- Preview article end -->

</form>
{% endblock %}